body {
  margin: 0px;
}

#header {
  position: relative;
  background-color: #451d6d;
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 5px;
}

#tabs {
  position: absolute;
  left: 150px;
  bottom: 0px;
  right: 0px;
  background-color: white;
  padding: 15px;
  padding-left: 30px;
  border-top-left-radius: 15px;
}

#tabs .tab {
  min-width: 100px;
  background-color: #5185d8;
  color: white;
  padding: 5px;
  cursor: pointer;
  border-width: 0px;
  margin-right: 10px;
  border-radius: 2px;
}

#tabs .tab:hover {
  background-color: #6998e4;
}

#tabs .tab.active {
  background-color: #d98003;
}

#content {
  padding: 10px;
}

.box {
  display: inline-block;
  width: 215px;
  border-radius: 3px;
  padding: 5px;
}

.box:hover {
  background-color: #cfb7ff;
  cursor: pointer;
}
